* {
  box-sizing: border-box;
}
body {
  background-image: url("../images/background.png");
  background-color: #33334d;
  font-family: Verdana, Geneva, sans-serif;
}
header {
  display: flex;
  background-image: url(../images/logo1blueNT.png);
  background-repeat: no-repeat;
  align-items: center;
  margin: 1em;
  padding: 2em 1em 1em 8em;
}
.splashscreen {
  display: flex;
  position: relative;
  margin: 0;
  padding: 2em;
  width: 100%;
  height: auto;
  background: none;
  justify-content: space-around;
  transition: justify-content 4s ease-out;
}
main.splashscreen:hover {
  justify-content: space-between;
}
main {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
}
nav {
  grid-column: 1;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 100%;
}
.nav {
  list-style-type: none;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.4em;
}
li a {
  display: block;
  padding: .75em .75em .75em .5em;
  text-decoration: none;
  height: auto;
}
.nav li a::before {
  content: "\f06c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 8px;
}
h1 {
  font-family: 'Chelsea Market', cursive;
  font-size: 4em;
  color: #f5f5f5;
}
*.splashscreen h1 {
  font-family: 'Architects Daughter', cursive;
  font-size: 4em;
  color: #52527a;
  margin: 0;
  padding: .5em;
  border: 0;
}
*.splashscreen img {
  position: absolute;
  z-index: 2;
  opacity: 1;
  transition: .5s ease;
  overflow: hidden;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
*.splashscreen img:hover {
  opacity: 0;
}
.background-text {
  position: absolute;
  top: 45%;
  z-index: 1;
  text-align: center;
  width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Architects Daughter', cursive;
  font-size: 1.3em;
  color: #d8bfd8;
}
*.splashscreen figure {
  position: relative;
  display: block;
  overflow: hidden;
  object-fit: cover;
  width: 150px;
  height: 150px;
  padding: 0;
  border: 0;
}
#vvmAnim {
  transition: all 2s ease-out .5s;
  font-size: 9em;
  color: #f5f5f5;
}
h2 {
  font-family: 'Chelsea Market', cursive;
  font-size: 2.5em;
  color: #f5f5f5;
}
h3 {
  font-family: 'Chelsea Market', cursive;
  color: #f5f5f5;
}
p {
  color: #b0c4de;
  line-height: 1.5;
}

a:link {
  color: #87ceeb;
  text-decoration: none;
}
a:visited {
  color: #d8bfd8;
}
a:not(.img):hover {
  color: #ffffff;
  background-color: #666699;
}
li:nth-child(even) a:not(.img):hover {
  color: #33334d;
  background-color: #b0c4de;
}
article {
  grid-column: 2;
  padding: 0em 1.5em 0em 1.5em;
  border-left: .25em double #b0c4de;
}
.portfolio-container {
  grid-column: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border-left: .25em double #b0c4de;
  font-family: 'Architects Daughter', cursive;
}
.portfolio-container > figure {
  padding: 2em 1em;
  justify-content: center;
}
.small {
  width: 25%;
  height: auto;
}
.med {
  width: 40%;
  height: auto;
}
.large {
  width: 75%;
  height:auto;
}
.thumbnail {
  padding: 0;
  margin: .25em;
  border: .5em solid #33334d;
  width: 200px;
  height: 200px;
}
.thumbnail:hover {
  box-shadow: 0 0 .5em .5em #666699;
}
.project-image {
  padding: 0;
  margin: 0;
  border: .5em solid #33334d;
  width: 100%;
}
.dual {
  padding: 0;
  margin: 0;
  border: .5em solid #33334d;
  width: 45%;
}
.multi {
  padding: 0;
  margin: 0;
  border: .5em solid #33334d;
  width: 30%;
}
.multi5 {
  padding: 0;
  margin: 0;
  border: .5em solid #33334d;
  width: 17%;
}
figcaption {
  padding: .25em;
  color: #b0c4de;
  font-size: 1.25em;
}
footer {
  display: block;
  margin: 2em 1em;
}
